<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lista de Estoques
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/admin/stocks">Estoques</a></li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
    
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
                
                <div class="box-header">
                  <a href="/admin/stocks/create" class="btn btn-success">Cadastrar Estoque</a>
                </div>
    
                <div class="box-body no-padding">
                  <table class="table table-striped">
                    <thead>
                      <tr>                       
                        <th style="width: 100px">Código da Filia</th>
                        <th>Nome Filial</th>                       
                        <th style="width: 100px">Código do Produto</th>     
                        <th>Nome Produto</th>                                            
                        <th>Quantidade</th>                                            
                        <th>Preço</th>                                            
                        <th>Data do Registo do Estoque</th>                                            
                      </tr>
                    </thead>
                    <tbody>
                      {loop="$stocks"}
                      <tr>                                           
                        <td>{$value.idbranch}</td>
                        <td>{$value.namebranch}</td>
                        <td>{$value.idproduct}</td>
                        <td>{$value.nameproduct}</td>
                        <td>{$value.quantity}</td>
                        <td>{$value.price}</td>
                        <td>{$value.dtregister}</td>
                      </tr>
                      {/loop}
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
        </div>
      </div>
    
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->